<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}

  <body class="noisy">

    </div>
    {%- include header.html -%}
    
    <div class="emblem">
      <span class="icon-information">test1</span>
    </div>
    <div class="frame">
      <main class="page-content" aria-label="Content">

        <div class="wrapper">
          <div  class="piece output">
            <div class="menu-header">
              <strong>
                <span> Welcome to SAGG.IN Industreies (TM) SAGGING OPERATING SYSTEM </span>
                <br>
                <span> COPYRIGHT 2020-2077 SAGG.IN INDUSTRY</span>
              </strong>

            </div>
            
              {{ content }}

            <div class="fakeShellInput menu-header"> 
              <span id="typingArea"> &gt;   </span>
            </div>
          
          </div>
        </div>

      </main>
      <div class="piece scanln scanlines noclick"></div>
      <div class="piece glowed glow noclick"></div> 
    </div>

    
    {%- include footer.html -%}

  </body>

</html>